{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "Firefox ESR",
            "> 1%",
            "ie >= 8",
            "iOS >= 8",
            "Android >= 4"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    "transform-decorators-legacy",
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}
